@import "./mixins";

.selection-input {
  &__hidden-input {
    display: none;
    pointer-events: none;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  &__span {
    height: 100%;
    width: auto;
    max-width: em(700);
    align-self: center;
    text-align: justify;
    display: inline-block;
  }

  &__box {
    align-self: center !important;
    width: 24px;
    height: 24px;
    background-color: $grey-1;
    border: 2px solid;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.3s;
    flex-shrink: 0;

    &.focus-visible:not(.disabled) {
      @include selection-input--focus-visible;
    }

    &:focus-visible:not(.disabled) {
      @include selection-input--focus-visible;
    }

    &:disabled,
    &.disabled,
    &[aria-disabled="true"] {
      cursor: default;

      &.checkbox,
      &.radio-button[data-state="disabled|unchecked"] {
        border: none !important;
        background-color: $grey-5 !important;
      }

      &.radio-button {
        border-color: $grey-5;
      }
    }
  }
}

.radio-button,
.switch {
  + .selection-input__span {
    text-align: center;
  }
}


