@import "./Modal/index";
@import "./mixins";

.input__disabled--bg {
  background-color: $input-disabled-bg !important;
  border: none !important;
}

.input__disabled--border {
  border-color: $input-disabled-bg !important;
}

.selection-input {
  &__hidden-input {
    display: none;
    pointer-events: none;
  }

  &__container {
    @extend .flex-row-center-center;
    width: fit-content;
    gap: 12px;
  }

  &__span {
    height: 100%;
    width: auto;
    max-width: em(700);
    align-self: center;
    text-align: justify;
    display: inline-block;
  }

  &__box {
    align-self: center;
    width: em(24);
    height: em(24);
    background-color: $grey-1;
    border: $input-border-width * 2 solid;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.3s;
    flex-shrink: 0;

    @include focus-visible-classNames() {
      &:not(.disabled) {
        @include selection-input--focus-visible;
      }
    }

    @include disabled-classNames {
      cursor: default;

      &.checkbox,
      &.radio-button[data-state="disabled|unchecked"] {
        @extend .input__disabled--bg;
      }

      &.radio-button {
        @extend .input__disabled--border;
      }
    }
  }
}

.radio-button,
.switch {
  + .selection-input__span {
    text-align: center;
  }
}
