// Base button style
@mixin base-btn {
  @extend .flex-row-center-center;
  flex: none;
  align-self: flex-start;
  position: relative;
  white-space: nowrap;
  padding: em(8) em(16);
  width: auto;
  align-items: center;
  border-radius: 4px;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: em(36);
  appearance: none;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  &:focus-visible,
  &.focus-visible {
    @include accessibility-5dp;
    background-color: $blue-5;
    color: $grey-1;
  }
}
