@mixin accessibility--base {
  outline: none;
}

@mixin accessibility-3dp {
  @include accessibility--base;
  box-shadow: 0px 0px 1px 3px rgba(5, 115, 249, 0.25);
}

@mixin accessibility-5dp {
  @include accessibility--base;
  box-shadow: 0px 0px 1px 5px rgba(5, 115, 249, 0.25);
}

@mixin disabled-classNames {
  &:disabled,
  &.disabled,
  &[aria-disabled="true"] {
    @content;
  }
}

@mixin hover-classNames {
  &:hover,
  &.hover {
    @content;
  }
}

@mixin focus-classNames {
  &:focus,
  &.focus {
    @content;
  }
}

@mixin focus-visible-classNames {
  &:focus-visible,
  &.focus-visible {
    @content;
  }
}

@mixin focus-within-classNames {
  &:focus-within,
  &.focus-within {
    @content;
  }
}

@mixin active-classNames {
  &:active,
  &.active {
    @content;
  }
}

@mixin not-disabled {
  &:not(:disabled),
  &:not(.disabled) {
    @content;
  }
}

@mixin modal-classNames($className: "") {
  .modal.#{$className} {
    @content;
  }
}

@mixin aspect-ratio($padding-top: 100%) {
  &::before {
    content: "";
    float: left;
    height: 0;
    padding-top: $padding-top;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin icon-classNames() {
  .icon {
    @content;
  }
}

@mixin path-classNames() {
  @include icon-classNames() {
    path {
      @content;
    }
  }
}
