// Base styles
@mixin font-base {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-light {
  font-weight: map-get($font-weights, "light");
}

@mixin font-semibold {
  font-weight: map-get($font-weights, "semibold");
}

@mixin font-bold {
  font-weight: map-get($font-weights, "bold");
}

@mixin font-upper {
  text-transform: uppercase;
}

@mixin font-lower {
  text-transform: lowercase;
}

@mixin font-caps {
  text-transform: capitalize;
}

@mixin body {
  @include font-base();
  font-weight: map-get($font-weights, "normal");
  letter-spacing: 0.01em;
}

@mixin body-16 {
  @include body();
  font-size: 1rem;
}

// Headings
@mixin h1 {
  @include font-base();
  font-size: 4rem;
  line-height: 4.625rem;
  letter-spacing: -0.02em;
}

@mixin h2 {
  @include font-base();
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.02em;
}

@mixin h3 {
  @include font-base();
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.02em;
}

@mixin h4 {
  @include font-base();
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
}

// Subheader
@mixin h5 {
  @include font-base();
  font-size: 1.5rem;
  line-height: 1.75rem;
}

@mixin h6 {
  @include font-base();
  font-size: 1.25rem;
  line-height: 1.5rem;
}
