.bottom-sheet {
  $drag-elastic-height: 10em;
  position: absolute;
  bottom: -$drag-elastic-height;
  border-radius: 28px 28px 0 0;
  width: min(100%, 600px);
  // Scrollbar's height
  min-height: em(24);
  height: calc(100% + #{$drag-elastic-height});
  @include transition-2s("linear", "border-radius");
  
  .dialog__content {
    padding: 1em 1.25em;
  }
  
  &__srcoll-bar {
    width: 15%;
    height: em(4);
    border-radius: 24px;
    background-color: $grey-5;
    margin: em(10) 0;
    cursor: move;

    &__container {
      @extend .flex-row-center-center;
      width: 100%;
    }
  }
}
