/* Grey */
$grey-1: #ffffff !default;
$grey-2: darken($grey-1, 2) !default;
$grey-3: darken($grey-1, 4) !default;
$grey-4: darken($grey-1, 8) !default;
$grey-5: darken($grey-1, 16) !default;
$grey-6: darken($grey-1, 24) !default;
$grey-7: darken($grey-1, 40) !default;
$grey-8: darken($grey-1, 60) !default;
$grey-9: darken($grey-1, 80) !default;
$grey-10: darken($grey-1, 100) !default;

/* Blue */
$blue-1: #cfcfff !default;
$blue-2: darken($blue-1, 10) !default;
$blue-3: darken($blue-1, 20) !default;
$blue-4: darken($blue-1, 30) !default;
$blue-5: darken($blue-1, 40) !default;
$blue-6: darken($blue-1, 50) !default;
$blue-7: darken($blue-1, 60) !default;
$blue-8: darken($blue-1, 70) !default;
$blue-9: darken($blue-1, 80) !default;

/* Cyan */
$cyan-1: #ccffff !default;
$cyan-2: darken($cyan-1, 10) !default;
$cyan-3: darken($cyan-1, 20) !default;
$cyan-4: darken($cyan-1, 40) !default;
$cyan-5: darken($cyan-1, 50) !default;
$cyan-6: darken($cyan-1, 60) !default;
$cyan-7: darken($cyan-1, 70) !default;
$cyan-8: darken($cyan-1, 80) !default;

/* Green */
$green-1: #dbfff2 !default;
$green-2: darken($green-1, 10) !default;
$green-3: darken($green-1, 20) !default;
$green-4: darken($green-1, 30) !default;
$green-5: darken($green-1, 40) !default;
$green-6: darken($green-1, 50) !default;
$green-7: darken($green-1, 60) !default;
$green-8: darken($green-1, 70) !default;
$green-9: darken($green-1, 80) !default;

/* Purple */
$purple-1: #e0b5ff !default;
$purple-2: darken($purple-1, 10) !default;
$purple-3: darken($purple-1, 20) !default;
$purple-4: darken($purple-1, 30) !default;
$purple-5: darken($purple-1, 40) !default;
$purple-6: darken($purple-1, 50) !default;
$purple-7: darken($purple-1, 60) !default;
$purple-8: darken($purple-1, 70) !default;
$purple-9: darken($purple-1, 80) !default;

/* Magenta */
$magenta-1: #ffccff !default;
$magenta-2: darken($magenta-1, 10) !default;
$magenta-3: darken($magenta-1, 20) !default;
$magenta-4: darken($magenta-1, 30) !default;
$magenta-5: darken($magenta-1, 40) !default;
$magenta-6: darken($magenta-1, 50) !default;
$magenta-7: darken($magenta-1, 60) !default;
$magenta-8: darken($magenta-1, 70) !default;
$magenta-9: darken($magenta-1, 80) !default;

/* Yellow */
$yellow-1: #fff9cc !default;
$yellow-2: darken($yellow-1, 10) !default;
$yellow-3: darken($yellow-1, 20) !default;
$yellow-4: darken($yellow-1, 30) !default;
$yellow-5: darken($yellow-1, 40) !default;
$yellow-6: darken($yellow-1, 50) !default;
$yellow-7: darken($yellow-1, 60) !default;
$yellow-8: darken($yellow-1, 70) !default;
$yellow-9: darken($yellow-1, 80) !default;

/* Orange */
$orange-1: #fff1e2 !default;
$orange-2: darken($orange-1, 10) !default;
$orange-3: darken($orange-1, 20) !default;
$orange-4: darken($orange-1, 30) !default;
$orange-5: darken($orange-1, 40) !default;
$orange-6: darken($orange-1, 50) !default;
$orange-7: darken($orange-1, 60) !default;
$orange-8: darken($orange-1, 70) !default;
$orange-9: darken($orange-1, 80) !default;

/* Volcano */
$volcano-1: #ffdacc !default;
$volcano-2: darken($volcano-1, 10) !default;
$volcano-3: darken($volcano-1, 20) !default;
$volcano-4: darken($volcano-1, 30) !default;
$volcano-5: darken($volcano-1, 40) !default;
$volcano-6: darken($volcano-1, 50) !default;
$volcano-7: darken($volcano-1, 60) !default;
$volcano-8: darken($volcano-1, 70) !default;
$volcano-9: darken($volcano-1, 80) !default;

/* Bronze */
$bronze-1: #f5e5d6 !default;
$bronze-2: darken($bronze-1, 10) !default;
$bronze-3: darken($bronze-1, 20) !default;
$bronze-4: darken($bronze-1, 30) !default;
$bronze-5: darken($bronze-1, 40) !default;
$bronze-6: darken($bronze-1, 50) !default;
$bronze-7: darken($bronze-1, 60) !default;
$bronze-8: darken($bronze-1, 70) !default;
$bronze-9: darken($bronze-1, 80) !default;

/* Red */
$red-1: #ffcccc !default;
$red-2: darken($red-1, 10) !default;
$red-3: darken($red-1, 20) !default;
$red-4: darken($red-1, 30) !default;
$red-5: darken($red-1, 40) !default;
$red-6: darken($red-1, 50) !default;
$red-7: darken($red-1, 60) !default;
$red-8: darken($red-1, 70) !default;
$red-9: darken($red-1, 80) !default;
