// Full-width (parent container)
.block {
  display: block;
  width: 100%;
  text-align: center;
}

@include generate-flex();

.state--disabled {
  cursor: not-allowed !important;
}

.scrollbar {
  // http://jsfiddle.net/6KprJ/1/
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-top-width: 3px;
    border-left-width: 0.5px;
    background-clip: padding-box;
    border-radius: 100%;
    -webkit-border-radius: 5px;
    background-color: $grey-5;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

a,
td,
div,
input,
select,
button,
summary,
textarea {
  -webkit-tap-highlight-color: transparent;
}