.shadow {
  &-2 {
    box-shadow: 0px 2px 4px rgba(0, 2, 46, 0.06);
  }

  &-6 {
    box-shadow: 4px 6px 12px rgba(0, 2, 46, 0.18);
  }

  &__form-2 {
    box-shadow: 0px 2px 2px rgba(0, 2, 46, 0.06),
      2px 2px 4px rgba(0, 2, 46, 0.06);
  }

  &__form-4 {
    box-shadow: 0px 4px 4px rgba(0, 2, 46, 0.08),
      4px 4px 8px rgba(0, 2, 46, 0.06);
  }
}
