.shadow {
  &-2 {
    box-shadow: 0px 5px 12px rgba(194, 194, 194, 0.25);
  }

  &-large {
    box-shadow: 0px 8px 24px rgba(0, 2, 46, 0.2);
  }

  &__form {
    &-2 {
      box-shadow: 0px 2px 2px rgba(0, 2, 46, 0.06),
        2px 2px 4px rgba(0, 2, 46, 0.06);
    }

    &-4 {
      box-shadow: 0px 4px 4px rgba(0, 2, 46, 0.08),
        4px 4px 8px rgba(0, 2, 46, 0.06);
    }
  }

  &__inset {
    &-small {
      box-shadow: inset 0px 1px 2px rgba(96, 96, 96, 0.2);
    }
  }
}
