// Base
.light {
  @include font-light();
}

.semibold {
  @include font-semibold();
}

.bold {
  @include font-bold();
}

.upper {
  @include font-upper();
}

.lower {
  @include font-lower();
}

.caps {
  @include font-caps();
}

// Headings
.header-1 {
  @include h1();
}

.header-2 {
  @include h2();
}

.header-3 {
  @include h3();
}

.header-4 {
  @include h4();
}

.header-5 {
  @include h5();
}

.header-6 {
  @include h6();
}

// Body
.body-16 {
  @include body-16();
}

.body-14 {
  @include body();
  font-size: 0.875rem;
  line-height: 150%;
}

.body-12 {
  @include body();
  font-size: 0.75rem;
  line-height: 150%;
}

// Other
.pre-header {
  @include font-base();
  @include font-upper();
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.04em;
}

.link-font {
  @include font-base();
  @include font-bold();
  font-size: 1rem;
  line-height: 150%;
}

.input-label-font {
  @include body();
  font-size: 0.875rem;
  line-height: 150%;
}

.input-placeholder-font {
  @include body-16();
  line-height: rem(19);
}

.input-password-font {
  letter-spacing: 0.05em !important;
}
