.dialog {
  @extend .flex-row-center-center;
  background-color: $grey-1;
  border-radius: 20px;
  min-height: 56px;
  height: auto;
  width: min(75%, 32em);
  display: block;
  position: relative;
  overflow: hidden;

  .btn {
    opacity: 1;

    &.dismiss-onloading {
      @extend .state--disabled;
      opacity: 0.5;
    }
  }

  &__content {
    padding: em(44) em(36) em(36) em(36);

    &.confirm {
      text-align: center;
    }
  }

  &__btn {
    $bg-clr: lighten($primary, 40);
    padding: 0.5em;
    height: auto;
    position: absolute;
    top: em(12);
    right: em(12);
    background-color: $bg-clr;

    @include icon-classNames() {
      stroke: $grey-9;
    }

    @include hover-classNames() {
      &:not(.dismiss-onloading) {
        background-color: lighten($primary, 30);
      }

      &.dismiss-onloading {
        background-color: $bg-clr;
      }
    }

    &__group {
      @extend .flex-row-center-center;
      gap: em(12);
      background-color: $grey-3;
      padding: em(12) em(16);
      box-shadow: inset 1px 1px 2px rgba(194, 194, 194, 0.25);

      .btn {
        align-self: stretch;
        width: auto;
        flex-grow: 1;
        gap: em(10);
      }

      .btn-secondary {
        border-color: $grey-6;
        color: $grey-8;

        @include hover-classNames() {
          &:not(.dismiss-onloading) {
            background-color: $grey-1;
          }

          &.dismiss-onloading {
            background-color: $grey-1;
          }
        }
      }
    }
  }

  &__title {
    display: block;
    width: 100%;
    color: $grey-9;
    margin: em(8) 0;
  }
}

@include breakpoint("lg") {
  .dialog {
    &__btn {
      &__group {
        justify-content: flex-end;

        .btn {
          flex-grow: 0;
        }
      }
    }
  }
}
