.select {
  &__wrapper {
    position: relative;

    .input__wrapper__base {
      cursor: pointer !important;
    }

    .input {
      caret-color: transparent;
    }

    &.disabled {
      .input__wrapper__base {
        cursor: default !important;
      }
    }
  }

  &__input__divider {
    align-self: flex-end;
    position: absolute;
    top: calc(50% - 32px / 2);
    right: 32px;
  }

  &__icon {
    right: 6px !important;
  }

  &__icon,
  &__input__divider {
    stroke: $grey-7;
  }
}
