@import "./__helpers__/mixins";

.select {
  &__btn {
    height: auto;
    justify-content: space-between;
    border-color: $input-border-color;
    border-width: $input-border-width / 2;
    box-shadow: 0px 0px 2px rgba(194, 194, 194, 0.25);

    @include hover-classNames() {
      background-color: $grey-2;
      color: initial;
      border-color: $input-border-color;
    }

    p {
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__modal {
    position: absolute;
    inset: auto;
    padding: 0;
    margin: em(8) 0 em(12) 0;
    background-color: $grey-1;
    z-index: 99;
    border-radius: 6px;
    pointer-events: auto;
    border: $input-border-width / 2 solid $input-border-color;
    max-height: em(240);
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: hidden;
    box-shadow: 0px 1px 4px rgba(194, 194, 194, 0.5);

    &[data-isshown="true"] {
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      width: em(6);
      background-color: transparent;
      border-radius: inherit;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey-6;
      background-clip: padding-box;
      border: 1px solid transparent;
      border-right-width: 2px;
      border-top-width: 8px;
      border-bottom-width: 8px;
      border-radius: inherit;
      box-shadow: none;
    }

    &--mobile {
      @extend .flex-row-center-center;
    }
  }

  &__item {
    padding: em(14);
    border-radius: 0;
    user-select: none;

    @include hover-classNames() {
      @include breakpoint("sm") {
        @include select__item--hover();
      }
    }

    @include focus-classNames() {
      @extend .select__item--hover;
    }

    &[aria-selected="true"] {
      @extend .select__item--hover;
    }

    label {
      cursor: pointer;
      user-select: none;
      color: $grey-9;
    }

    input {
      display: none;
    }

    + .select__hr {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__header {
    @extend .select__item;
    border-radius: 0;
    padding-top: em(4);
    padding-bottom: em(4);

    &[data-onlychild="false"] {
      & ~ .select__item:not(.select__header) {
        margin-left: em(28);
      }
    }

    h6 {
      font-size: em(12);
    }

    + .select__hr {
      margin-top: 0;
    }
  }

  &__hr {
    display: block;
    width: auto;
    margin: em(4) em(0);
    height: $input-border-width / 2;
    background: $input-border-color;
  }

  &__icon {
    fill: none !important;
    stroke: $grey-7 !important;
  }
}

@include breakpoint("sm", "min-width") {
  .select__item {
    padding: em(6) em(4);
    margin: em(4);
    border-radius: em(4);
  }

  .select__header {
    padding-top: em(2);
    padding-bottom: em(2);
  }

  .select__hr {
    margin: em(4);
  }
}

@include modal-classNames("select__modal--mobile") {
  .select__modal {
    width: min(70%, 32em);
    max-height: 80%;
  }

  .select__item:not(.select__header) {
    &:last-of-type {
      + .select__hr {
        display: none;
      }
    }
  }
}
