.radio-button {
  margin: 2px 0px 2px 0px;
  border-radius: 100%;
  display: flex;
  appearance: none;

  + .selection-input__span {
    cursor: pointer;
  }

  @include disabled-classNames {
    + .selection-input__span {
      cursor: default;
    }
  }
}
