@mixin input-base {
  width: em(280);
  box-sizing: border-box;
  height: em(48);
  background-color: $input-bg;
  padding: 12px;
  border: 1.5px solid $grey-5;
  border-radius: 6px;
  align-self: stretch;
  outline: none;
  transition: all 0.3s;

  &:not([class*="select"]),
  &:not([class*="disabled"]) {
    @include hover-classNames() {
      background-color: $grey-1;

      & > * {
        background-color: $grey-1;
      }
    }

    @include focus-classNames() {
      @include input--focus;
    }
  }
}

@mixin input-placeholder($color) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }
}

@mixin input-placeholder-color($color: $grey-7) {
  @include input-placeholder($color);
}

@mixin input-floating-label-state($color: $primary) {
  + .input__floating-label,
  .input__floating-label.active {
    color: $color;
  }
}

@mixin input--focus {
  background-color: $grey-1;
  border-color: $primary;

  @include input-floating-label-state;
}

@mixin input-state-color($color) {
  border-color: $color;
  background-color: $grey-1;

  + .input__help-text__icon {
    color: $color;
  }

  // https://stackoverflow.com/questions/7115959/adding-important-using-a-compass-mixin
  @include input-floating-label-state($color !important);

  @include input-placeholder-color($color);

  @include focus-classNames() {
    border-color: $color;

    + .input__help-text__icon {
      color: $color;
    }
  }

  @include focus-within-classNames() {
    border-color: $color;

    + .input__help-text__icon {
      color: $color;
    }
  }
}

@mixin input-incr-dcr__icon--state {
  background-color: lighten($primary, 30);
  border-color: lighten($primary, 30);
}

@mixin input--focus-within {
  @extend .input__floating-label;
  @include body;
  top: 8px;
  font-size: rem(10);
  line-height: 100%;
  height: 10px;
}
