@import "@hashtag-design-system/primitives";
@import "styles/css/colors";
@import "components/__helpers__/index";
@import "components/Button/index";
@import "components/Checkbox/index";
@import "components/RadioButton/index";
@import "components/Switch/index";
@import "components/Select/index";
@import "components/Dropdown/index";
@import "components/Slider/index";
@import "components/Input/index";
@import "components/Pagination/index";

html,
body {
  @extend .body-16;
  overflow: auto;
  box-sizing: border-box;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: em(48);
  padding: 25px 50px;
}

.App > * {
  align-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.storybook__container {
  padding: em(16);
  font-family: "Roboto";
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: em(48);
}

// @include icon-classNames() {
//   stroke: $grey-10;
//   fill: transparent;
// }
