@import "~@hashtag-design-system/primitives/src/globals.scss";
// @import "~@hashtag-design-system/primitives/src/index.scss";
@import "~swiper/swiper.scss";
@import "components/__helpers__/index";
@import "components/Button/index";
@import "components/Checkbox/index";
@import "components/RadioButton/index";
@import "components/Switch/index";
@import "components/Select/index";
@import "components/Dropdown/index";
@import "components/Slider/index";
@import "components/Input2/index";
@import "components/Pagination/index";
@import "components/Form/index";
@import "components/Dialog/index";
@import "components/CreditCard/index";
@import "components/Table/index";
@import "components/Animated/index";
@import "components/Autosuggest/index";
@import "components/BottomSheet/index";
@import "components/DatePicker/index";
@import "components/TimePicker/index";

// $portal-selector refers to an ID selector
// Double # need to be used in order to work correctly
##{$portal-selector} {
  position: relative;
  z-index: 999;
}

.App {
  --hey: #298d96;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: em(48);
  padding: 25px 50px;
  padding-bottom: 8em;
}

.App > * {
  align-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.storybook__container {
  padding: em(16);
  font-family: "Roboto";
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: em(48);

  &.credit-card {
    // background-image: url(./static/credit-card-bg.jfif);
    background-size: cover;
  }
}

// @include icon-classNames() {
//   stroke: $grey-10;
//   fill: transparent;
// }
