.input__floating-placeholder--pseudo-element {
  content: "";
  background-color: inherit;
  position: absolute;
  width: 100%;
}

@mixin input-background($color: $input-bg) {
  background-color: $color;

  &.input-multiline {
    &:not([disabled]):not(.disabled) {
      + .input__floating-placeholder {
        background-color: $color;
      }
    }
  }
}

@mixin input--hover {
  @include input-background($grey-1);
}

@mixin input__floating-placeholder--focus {
  top: 15%;
  font-size: em(10);
  transform: none;
}

@mixin input--state($color) {
  @include input--hover();
  border-color: $color;

  @include focus-classNames() {
    border-color: $color !important;
  }

  + .input__floating-placeholder {
    color: $color !important;
  }
}
