@mixin input-base {
  width: 100%;
  box-sizing: border-box;
  height: em(48);
  background-color: $input-bg;
  padding: 12px;
  border: 1.5px solid $grey-5;
  border-radius: 6px;
  align-self: stretch;
  outline: none;
  transition: all 0.3s;

  &.hover {
    @include input--hover;
  }

  &:hover {
    @include input--hover;
  }

  &.focus {
    @include input--focus;
  }

  &:focus {
    @include input--focus;
  }
}

@mixin input-placeholder($color) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }
}

@mixin input-placeholder-color($color: $grey-7) {
  @include input-placeholder($color);
}

@mixin input-floating-label-state($color: $primary) {
  + .input__floating-label,
  .input__floating-label.active {
    color: $color;
  }
}

@mixin input--focus {
  background-color: $grey-1;
  border-color: $primary;

  @include input-floating-label-state;
}

@mixin input--hover {
  background-color: $grey-1;

  // @include input-floating-label-state;
}

@mixin input-state-color($color) {
  border-color: $color;

  @if $color == $red-6 {
    background-color: $red-1;
  } @else if $color == $green-7 {
    background-color: $green-1;
  }

  + .input__help-text__icon {
    color: $color;
  }

  // https://stackoverflow.com/questions/7115959/adding-important-using-a-compass-mixin
  @include input-floating-label-state($color !important);

  @include input-placeholder-color($color);

  &:focus,
  &:focus-within {
    border-color: $color;

    + .input__help-text__icon {
      color: $color;
    }
  }
}
