.input__floating-placeholder--pseudo-element {
  content: "";
  background-color: inherit;
  width: 100%;
  display: block;
}

.input--width {
  width: 100%;

  @include breakpoint("xs") {
    max-width: $input-width;
  }
}

.input-multiline__floating-placeholder {
  &.input-multiline {
    + .input__floating-placeholder {
      top: 2.75px;
    }
  }
}

@mixin input-background($color: $input-bg) {
  background-color: $color;

  &.input-multiline {
    &:not([disabled]):not(.disabled) {
      + .input__floating-placeholder {
        background-color: $color;
      }
    }
  }
}

@mixin input--hover {
  @include input-background($grey-1);
}

@mixin input__floating-placeholder--focus {
  top: 10%;
  transform: scale(0.625) translate(-30%, -37.5%);
}

@mixin input--state($color) {
  @include input--hover();
  border-color: $color;

  @include focus-classNames() {
    border-color: $color !important;
  }

  + .input__floating-placeholder {
    color: $color !important;
  }
}
