/* Grey */
$grey-1: #ffffff;
$grey-2: darken($grey-1, 2);
$grey-3: darken($grey-1, 4);
$grey-4: darken($grey-1, 10);
$grey-5: darken($grey-1, 16);
$grey-6: darken($grey-1, 24);
$grey-7: darken($grey-1, 40);
$grey-8: darken($grey-1, 60);
$grey-9: darken($grey-1, 80);
$grey-10: darken($grey-1, 100);

/* Blue */
$blue-1: #cfcfff;
$blue-2: darken($blue-1, 10);
$blue-3: darken($blue-1, 20);
$blue-4: darken($blue-1, 30);
$blue-5: darken($blue-1, 40);
$blue-6: darken($blue-1, 50);
$blue-7: darken($blue-1, 60);
$blue-8: darken($blue-1, 70);
$blue-9: darken($blue-1, 80);

/* Cyan */
$cyan-1: #ccffff;
$cyan-2: darken($cyan-1, 10);
$cyan-3: darken($cyan-1, 20);
$cyan-4: darken($cyan-1, 40);
$cyan-5: darken($cyan-1, 50);
$cyan-6: darken($cyan-1, 60);
$cyan-7: darken($cyan-1, 70);
$cyan-8: darken($cyan-1, 80);

/* Green */
$green-1: #dbfff2;
$green-2: darken($green-1, 10);
$green-3: darken($green-1, 20);
$green-4: darken($green-1, 30);
$green-5: darken($green-1, 40);
$green-6: darken($green-1, 50);
$green-7: darken($green-1, 60);
$green-8: darken($green-1, 70);
$green-9: darken($green-1, 80);

/* Purple */
$purple-1: #e0b5ff;
$purple-2: darken($purple-1, 10);
$purple-3: darken($purple-1, 20);
$purple-4: darken($purple-1, 30);
$purple-5: darken($purple-1, 40);
$purple-6: darken($purple-1, 50);
$purple-7: darken($purple-1, 60);
$purple-8: darken($purple-1, 70);
$purple-9: darken($purple-1, 80);

/* Magenta */
$magenta-1: #ffccff;
$magenta-2: darken($magenta-1, 10);
$magenta-3: darken($magenta-1, 20);
$magenta-4: darken($magenta-1, 30);
$magenta-5: darken($magenta-1, 40);
$magenta-6: darken($magenta-1, 50);
$magenta-7: darken($magenta-1, 60);
$magenta-8: darken($magenta-1, 70);
$magenta-9: darken($magenta-1, 80);

/* Yellow */
$yellow-1: #fff9cc;
$yellow-2: darken($yellow-1, 10);
$yellow-3: darken($yellow-1, 20);
$yellow-4: darken($yellow-1, 30);
$yellow-5: darken($yellow-1, 40);
$yellow-6: darken($yellow-1, 50);
$yellow-7: darken($yellow-1, 60);
$yellow-8: darken($yellow-1, 70);
$yellow-9: darken($yellow-1, 80);

/* Orange */
$orange-1: #fff1e2;
$orange-2: darken($orange-1, 10);
$orange-3: darken($orange-1, 20);
$orange-4: darken($orange-1, 30);
$orange-5: darken($orange-1, 40);
$orange-6: darken($orange-1, 50);
$orange-7: darken($orange-1, 60);
$orange-8: darken($orange-1, 70);
$orange-9: darken($orange-1, 80);

/* Volcano */
$volcano-1: #ffdacc;
$volcano-2: darken($volcano-1, 10);
$volcano-3: darken($volcano-1, 20);
$volcano-4: darken($volcano-1, 30);
$volcano-5: darken($volcano-1, 40);
$volcano-6: darken($volcano-1, 50);
$volcano-7: darken($volcano-1, 60);
$volcano-8: darken($volcano-1, 70);
$volcano-9: darken($volcano-1, 80);

/* Bronze */
$bronze-1: #f5e5d6;
$bronze-2: darken($bronze-1, 10);
$bronze-3: darken($bronze-1, 20);
$bronze-4: darken($bronze-1, 30);
$bronze-5: darken($bronze-1, 40);
$bronze-6: darken($bronze-1, 50);
$bronze-7: darken($bronze-1, 60);
$bronze-8: darken($bronze-1, 70);
$bronze-9: darken($bronze-1, 80);

/* Red */
$red-1: #ffcccc;
$red-2: darken($red-1, 10);
$red-3: darken($red-1, 20);
$red-4: darken($red-1, 30);
$red-5: darken($red-1, 40);
$red-6: darken($red-1, 50);
$red-7: darken($red-1, 60);
$red-8: darken($red-1, 70);
$red-9: darken($red-1, 80);
