.switch {
  gap: 6px;
  padding: 0.25rem;
  min-width: 2.25em;
  width: 112.5%;
  height: em(27);
  box-shadow: inset 0px 2px 2px -1px rgba(0, 4, 97, 0.2);
  border-radius: 16px;
  border: none;
  appearance: none;
  pointer-events: all;
  z-index: 0;

  &[data-insidetext="true"] {
    width: 105%;
  }

  &__container {
    @extend .flex-column-center-center;
    height: 100%;
    position: relative;
    display: inline-flex;
    pointer-events: none;
    padding: 0.25em 0;

    @include focus-classNames() {
      outline: none;
    }
  }

  &[value="true"] {
    + .switch__handler__container {
      .switch__handler__container--second {
        flex-direction: row-reverse;
      }

      .switch__span {
        visibility: hidden;

        &[data-position="toggle"] {
          margin-right: em(3);
          visibility: visible;
          color: $grey-1;
        }
      }
    }
  }

  &__handler {
    width: 1em;
    height: 1em;
    background-color: $grey-1;
    border-radius: 100%;
    z-index: 1;
    pointer-events: none;

    &__container {
      width: 96%;
      height: 0;

      &--second {
        @extend .flex-row-flex-start-center;
        gap: em(2);
        margin-top: rem(-22);
        pointer-events: none;
        min-height: 1em;
      }
    }
  }

  &.disabled {
    @extend .state--disabled;
    background-color: $grey-5;
    opacity: 0.5;
    box-shadow: none;

    + .switch__handler__container {
      .switch__handler {
        box-shadow: none;
      }
    }
  }

  &__span {
    @extend .body-14;
    color: $grey-9;
    z-index: 1;
    margin: 0 em(6);
    align-self: flex-end;
    line-height: 1.15em;
    pointer-events: none;
    user-select: none;
  }
}
