.switch {
  gap: 6px;
  padding: rem(4) rem(3);
  width: em(48);
  height: em(27);
  box-shadow: inset 0px 2px 2px -1px rgba(0, 4, 97, 0.2);
  border-radius: 16px;
  border: none;

  &[data-ison="true"] {
    // Works perfect with the <span /> HTML element & the adjacent in `padding-right`
    flex-direction: row-reverse;

    .switch__span {
      visibility: hidden;

      &[data-position="toggle"] {
        margin-left: em(6);
        margin-right: 0;
        visibility: visible;
        color: $grey-1;
      }
    }
  }

  &__handler {
    width: em(19);
    height: em(19);
    background-color: $grey-1;
    border-radius: 100%;
    z-index: 1;
  }

  &.disabled {
    background-color: $grey-5 !important;
    box-shadow: none;

    .switch__handler {
      box-shadow: none;
    }
  }

  .switch__span {
    margin-right: em(6);
    margin-left: 0;
    color: $grey-10;
    z-index: 1;
  }
}
