/* Variables */
$primary: $blue-5 !default;
$input-bg: $grey-2 !default;
$input-disabled-bg: $grey-5 !default;
$input-border-width: 1px !default;
$input-border-color: $grey-6 !default;
$input-border-radius: 8px !default;
$error-color: $red-6 !default;
$success-color: $green-7 !default;
$breakpoints: (
  "xs": 600px,
  "sm": 600px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
