/* Variables */
$primary: $blue-5 !default;
$secondary: $blue-5 !default;
$input-bg: $grey-2 !default;
$input-width: em(202) !default;
$input-disabled-bg: $grey-5 !default;
$input-border-width: 1px !default;
$input-border-color: $grey-5 !default;
$input-border-radius: 8px !default;
$error-color: $red-6 !default;
$success-color: $green-7 !default;
$modal-shadow: 0px 2px 10px rgba(0, 0, 0, 12.5%) !default;
$breakpoints: (
  "sm": 600px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
