@import "index.scss";
@import "base/globals";
@import "base/shadows";
@import "base/typography";

:root {
  --grey-1: #ffffff;
  --grey-2: #fafafa;
  --grey-3: #f5f5f5;
  --grey-4: #ebebeb;
  --grey-5: #d6d6d6;
  --grey-6: #c2c2c2;
  --grey-7: #999999;
  --grey-8: #666666;
  --grey-9: #333333;
  --grey-10: #000000;

  --blue-1: #cfcfff;
  --blue-2: #9c9cff;
  --blue-3: #6969ff;
  --blue-4: #3636ff;
  --blue-5: #0303ff;
  --blue-6: #0000cf;
  --blue-7: #00009c;
  --blue-8: #000069;
  --blue-9: #000036;

  --cyan-1: #ccffff;
  --cyan-2: #99ffff;
  --cyan-3: #66ffff;
  --cyan-4: #33ffff;
  --cyan-5: #00ffff;
  --cyan-6: #00cccc;
  --cyan-7: #009999;
  --cyan-8: #006666;
  --cyan-9: #003333;

  --green-1: #dbfff2;
  --green-2: #a8ffe0;
  --green-3: #75ffcd;
  --green-4: #42ffbb;
  --green-5: #0fffa8;
  --green-6: #00db8c;
  --green-7: #00a86b;
  --green-8: #00754b;
  --green-9: #00422a;

  --purple-1: #e0b5ff;
  --purple-2: #cb82ff;
  --purple-3: #b54fff;
  --purple-4: #a01cff;
  --purple-5: #8700e8;
  --purple-6: #6900b5;
  --purple-7: #4c0082;
  --purple-8: #2e004f;
  --purple-9: #10001c;

  --magenta-1: #ffccff;
  --magenta-2: #ff99ff;
  --magenta-3: #ff66ff;
  --magenta-4: #ff33ff;
  --magenta-5: #ff00ff;
  --magenta-6: #cc00cc;
  --magenta-7: #990099;
  --magenta-8: #660066;
  --magenta-9: #330033;

  --yellow-1: #fff9cc;
  --yellow-2: #fff399;
  --yellow-3: #ffed66;
  --yellow-4: #ffe733;
  --yellow-5: #ffe100;
  --yellow-6: #ccb400;
  --yellow-7: #998700;
  --yellow-8: #665a00;
  --yellow-9: #332d00;

  --orange-1: #fff1e2;
  --orange-2: #ffd8af;
  --orange-3: #ffc07c;
  --orange-4: #ffa749;
  --orange-5: #ff8f16;
  --orange-6: #e27500;
  --orange-7: #af5b00;
  --orange-8: #7c4000;
  --orange-9: #492600;

  --volcano-1: #ffdacc;
  --volcano-2: #ffb599;
  --volcano-3: #ff9066;
  --volcano-4: #ff6b33;
  --volcano-5: #ff4600;
  --volcano-6: #cc3800;
  --volcano-7: #992a00;
  --volcano-8: #661c00;
  --volcano-9: #330e00;

  --bronze-1: #f5e5d6;
  --bronze-2: #ebcbad;
  --bronze-3: #e1b184;
  --bronze-4: #d7975b;
  --bronze-5: #cd7d32;
  --bronze-6: #a46428;
  --bronze-7: #7b4b1e;
  --bronze-8: #523214;
  --bronze-9: #29190a;

  --red-1: #ffcccc;
  --red-2: #ff9999;
  --red-3: #ff6666;
  --red-4: #ff3333;
  --red-5: #ff0000;
  --red-6: #cc0000;
  --red-7: #990000;
  --red-8: #660000;
  --red-9: #330000;

  --primary: #{$blue-5};
  --secondary: #{$primary};
  --input-bg: #{$grey-2};
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  @extend .body-16;
  overflow: auto;
}

a,
td,
div,
input,
select,
button,
summary,
textarea {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin-top: 0;
  margin-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@include generate-flex();
