.form {
  &-group {
    @extend .flex-column-center-flex-start;
    @extend .body-16;
    gap: 1.5em;
    width: 100%;
  }

  &-header {
    @extend .body-16;
    margin-top: 1em;
    color: $grey-10;
    width: min(100%, 24em);
    padding-bottom: 0.25em;
    border-bottom: $input-border-width solid $grey-6;
  }
}

@include breakpoint("sm") {
  .form {
    &-group {
      gap: em(28);
    }
  }
}
