// * See -> https://stackoverflow.com/questions/44735495/sass-customize-class-names-with-variables
$flex-directions: (
  "column",
  "column-reverse",
  "row",
  "row-reverse",
  "initial",
  "inherit"
);
$align-items: (
  "baseline",
  "center",
  "flex-end",
  "flex-start",
  "stretch",
  "initial",
  "inherit",
  "unset"
);
$justify-contents: (
  "flex-start",
  "flex-end",
  "center",
  "space-between",
  "space-around",
  "initial",
  "inherit",
  "unset",
  "stretch"
);

@mixin flex-class($direction, $content, $align) {
  .flex-#{$direction}-#{$content}-#{$align} {
    display: flex !important;
    flex-direction: #{$direction};
    justify-content: #{$content};
    align-items: #{$align};
  }
}

@mixin generate-flex() {
  @each $direction in $flex-directions {
    @each $content in $justify-contents {
      @each $align in $align-items {
        @include flex-class($direction, $content, $align);
      }
    }
  }
}
