@mixin accessibility--base {
  outline: none;
}

@mixin accessibility-3dp {
  @include accessibility--base;
  box-shadow: 0px 0px 1px 3px rgba(5, 115, 249, 0.25);
}

@mixin accessibility-5dp {
  @include accessibility--base;
  box-shadow: 0px 0px 1px 5px rgba(5, 115, 249, 0.25);
}

@mixin disabled-state {
  cursor: default;
}
