@import "./__helpers__/mixins";

.dropdown {
  &.disabled {
    .dropdown__icon {
      cursor: default;
    }
  }

  &__hr {
    background-color: $grey-6;
    border: 0 inset $grey-6;
    height: 1.5px;
    width: 95%;
  }

  &__item {
    align-self: center !important;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    position: relative;
    padding: 8px;
    transition: background 0.1s;
    width: auto;

    &__icon {
      justify-content: center;

      &.right {
        margin-left: auto;
      }
    }

    @include dropdown__item--state;
  }

  // TODO: Figma add the `border` property

  &__list-box {
    background-color: $grey-1;
    border: 1px solid $grey-5;
    border-radius: 4px;
    display: block;
    list-style: none;
    margin-block: 0; // TODO: Set programmatically
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.35em;
    position: absolute;
    scrollbar-width: auto;
    z-index: 9;
    right: 0;
    width: max-content;
    max-width: 220px;

    // http://jsfiddle.net/6KprJ/1/
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border: 3px solid $grey-1;
      border-left-width: 0.5px;
      background-clip: padding-box;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      background-color: $grey-6;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &__tooltip {
      display: none;

      @supports (clip-path: inset(50%)) {
        // https://codyhouse.co/blog/post/css-rounded-triangles-with-clip-path
        display: block;
        height: 16px;
        width: 16px;
        background-color: $grey-5;
        border-radius: 0px 0px 0px 4px;
        position: absolute;
        right: 15px;
        bottom: -13px;
        z-index: 10;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        transform: rotate(135deg);
      }
    }
  }
}
