@import "./__helpers__/mixins";

.dropdown {
  &.disabled {
    .dropdown__icon {
      cursor: default;
    }
  }

  &__hr {
    background-color: $grey-6;
    border: 0 inset $grey-6;
    height: 1.5px;
    width: 95%;
  }

  &__item {
    align-self: center !important;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    position: relative;
    padding: 0.5em;
    transition: background 0.1s;
    width: auto;
    margin-bottom: 0.25em;

    &:last-of-type {
      margin-bottom: 0;
    }

    &__icon.right {
      margin-left: auto;
    }

    &__group {
      margin-top: 0.15em;
      font-weight: lighter;
      cursor: text;

      @include hover-classNames() {
        @include dropdown__group--state();
      }

      @include focus-classNames() {
        @include dropdown__group--state();
      }

      &__elements {
        padding-left: 0.75rem;
      }
    }

    @include dropdown__item--state;
  }

  &__list-box {
    background-color: $grey-1;
    border: 1px solid $grey-5;
    border-radius: 6px;
    list-style: none;
    margin-block: 0; // TODO: Set programmatically
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.35em;
    position: absolute;
    scrollbar-width: auto;
    z-index: 9999;
    right: 0;
    width: max-content;
    max-width: em(220);

    // http://jsfiddle.net/6KprJ/1/
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border: 3.5px solid $grey-1;
      border-left-width: 0.5px;
      background-clip: padding-box;
      border-radius: 100%;
      -webkit-border-radius: 50px;
      background-color: $grey-5;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}

.tooltip__bubble {
  display: none;

  // https://codyhouse.co/blog/post/css-rounded-triangles-with-clip-path
  @supports (clip-path: inset(50%)) {
    display: block;
    height: 12px;
    width: 12px;
    background-color: $grey-5;
    border-radius: 0px 0px 0px 4px;
    position: absolute;
    right: 15px;
    bottom: -10px;
    z-index: 10000;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(135deg);
  }
}
