@import "./__helpers__/mixins";

.input {
  @include input-base;

  &__prefix {
    position: absolute;
    top: 18px;
    left: 14px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 280px;

    &__base {
      display: flex;
      flex-direction: column;
      width: auto;
      position: relative;
      align-self: stretch;
    }
  }

  &__label-container {
    align-self: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    width: auto;
    color: $grey-9;
    margin-block: 0;
  }

  &__floating-label {
    position: absolute;
    top: 15px;
    left: 13px;
    width: auto;
    height: 18px;
    align-self: stretch;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    color: $grey-7;
    transform-origin: left top;
    outline: none;

    &:focus {
      @extend .active;
      color: $primary;
    }

    &:focus-within,
    &.active {
      @extend .input__floating-label;
      @include body;
      top: 8px;
      font-size: 10px;
      line-height: 100%;
      height: 10px;
    }
  }

  &__help-text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
    align-self: flex-end;
    width: auto;
    height: 18px;
    margin-block: 0;
    color: $grey-7;

    &.error {
      color: $red-6;
    }
  }

  &-password {
    letter-spacing: 0.05em;
  }

  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    top: calc(50% - 24px / 2);
  }

  @include input-placeholder-color;
}

.input,
.input-multiline {
  &.success {
    @include input-state-color($green-7);
  }

  &.error {
    @include input-state-color($red-6);
  }

  &.grey {
    &:focus {
      border-color: $grey-5;

      + .input__floating-label.active {
        color: $grey-7;
      }
    }
  }

  &:disabled,
  &.disabled,
  &[aria-disabled="true"] {
    @include disabled-state;
    background-color: $grey-4;
    border: none;
    color: $grey-8;
  }
}

.floating.input {
  &:focus-within {
    padding-top: 20px;
    padding-bottom: 9px;
  }
  &:not(:placeholder-shown) {
    padding-top: 20px;
    padding-bottom: 9px;
  }
}

.input-multiline {
  @extend .input__wrapper;
  // padding-top: set in the `element.style` attribute
  padding: 0px;
  height: auto;
  width: auto;
  gap: 0;

  .input {
    height: auto;
    border: none;
    align-self: stretch;
    padding: 0 12px 12px 12px !important;
    resize: vertical;
  }

  + .input__floating-label {
    top: 12px;

    &:focus-within,
    &.active {
      top: 8px;
    }
  }

  &:focus-within {
    @include input--focus;
  }
}

.input-digit {
  background-color: $grey-1;
  height: 80px;
  width: 70px;
  border-radius: 10px;
  border-color: $grey-1;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  justify-content: center;

  &:disabled,
  &.disabled,
  &[aria-disabled="true"] {
    box-shadow: none;
  }

  &-sequence {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    justify-content: center;
    width: auto;
    gap: 24px;

    &__wrapper {
      @extend .input-digit-sequence;
      @extend .input-digit-sequence__wrapper;
      flex-direction: row;
      gap: 20px;
    }

    .input__label-container {
      align-self: center;
    }
  }
}

.input-incr-dcr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 8px;
  width: 120px;
  gap: 8px;
  height: 28px;

  .input {
    height: 28px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 !important;
    background-color: $grey-2;
    border-color: $grey-2;

    &:focus {
      background-color: $grey-3;
      border-color: $grey-3;
    }
  }

  &__icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 !important;
    width: 28px;
    height: 28px;
    background-color: lighten($primary, 40);
    border-color: lighten($primary, 40);
    stroke: $primary;

    &:hover,
    &:focus-visible {
      background-color: lighten($primary, 30);
      border-color: lighten($primary, 30);
    }

    &:focus-visible {
      @include accessibility-3dp;
    }

    &.grey {
      background-color: $grey-4;
      border-color: $grey-4;
      cursor: default;
      stroke: $grey-7;
    }
  }

  &:disabled,
  &.disabled,
  &[aria-disabled="true"] {
    .input-incr-dcr__icon {
      @extend .grey;
    }
  }
}

.input-number {
  width: 120px;

  &__btn {
    background-color: $grey-2;
    position: absolute;
    overflow: hidden;
    top: 2px;
    right: 2px;
    height: 44px;
    border-radius: 0px 2px 2px 0px;
    border-left: 2px solid $grey-5;

    .btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
      width: 22px !important;
      height: 22px;
      border: none;
      box-shadow: none;
      stroke: $grey-6;

      &:hover {
        background-color: transparent;
        stroke: $primary;
      }

      &:nth-of-type(1) {
        border-radius: 0px 2px 0px 0px;
      }

      &:nth-of-type(2) {
        border-top: 2px solid $grey-5;
        border-radius: 0px 0px 2px 0px;
      }
    }
  }
}

.input-number,
.input-incr-dcr {
  .input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}
