.input {
  @include input-base;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 280px;

    &__field {
      display: flex;
      flex-direction: column;
      width: auto;
      position: relative;
      align-self: stretch;
    }
  }

  &__label-container {
    align-self: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    width: auto;
    color: $grey-9;
    margin-block: 0;
  }

  &__floating-label {
    position: absolute;
    top: 15px;
    left: 13px;
    width: auto;
    height: 18px;
    align-self: stretch;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    color: $grey-7;
    transform-origin: left top;
    outline: none;

    &:focus {
      color: $primary;
    }

    &:focus-within,
    &.active {
      @extend .input__floating-label;
      @include body;
      top: 9px;
      font-size: 10px;
      line-height: 100%;
      height: 10px;
    }
  }

  &__help-text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
    align-self: flex-end;
    width: auto;
    height: 18px;
    margin-block: 0;
    color: $grey-7;

    &.error {
      color: $red-6;
    }
  }

  &-password {
    letter-spacing: 0.05em;
  }

  &:disabled,
  &.disabled,
  &[aria-disabled="true"] {
    @include disabled-state;
    background-color: inherit;
    border-color: $grey-8;
    color: $grey-8;
  }

  @include input-placeholder-color;
}

.input,
.input-multiline {
  &.success {
    @include input-state-color($green-7);
  }

  &.error {
    @include input-state-color($red-6);
  }

  &.grey {
    &:focus {
      border-color: $grey-5;

      + .input__floating-label.active {
        color: $grey-7;
      }
    }
  }

  &:disabled,
  &.disabled,
  &[aria-disabled="true"] {
    @include disabled-state;
    background-color: $grey-4;
    border: none;
    color: $grey-7;
  }
}

.floating.input {
  &:focus-within {
    padding-top: 20px;
    padding-bottom: 9px;
  }
  &:not(:placeholder-shown) {
    padding-top: 20px;
    padding-bottom: 9px;
  }
}

.input-multiline {
  @extend .input__container;
  padding: 20px 0 0 0;
  height: auto;
  width: auto;
  gap: 0;

  .input {
    height: auto;
    border: none;
    align-self: stretch;
    padding: 0 12px 12px 12px !important;
    resize: vertical;
  }

  &:focus-within {
    @include input-focus;
  }
}

.input-digit {
  background-color: $grey-1;
  height: 80px;
  width: 70px;
  border-radius: 10px;
  border-color: $grey-1;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  justify-content: center;

  &:disabled,
  &.disabled,
  &[aria-disabled="true"] {
    box-shadow: none;
  }

  &-sequence {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    justify-content: center;
    width: auto;
    gap: 24px;

    &__container {
      @extend .input-digit-sequence;
      @extend .input-digit-sequence__container;
      flex-direction: row;
      gap: 20px;
    }

    .input__label-container {
      align-self: center;
    }
  }
}

.input-incr-dcr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 8px;
  width: 120px;
  height: 32px;

  &__icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 !important;
    width: 32px;
    height: 32px;
    background-color: lighten($primary, 40);
    border-color: lighten($primary, 40);
    stroke: $primary;

    &:hover {
      background-color: lighten($primary, 20);
      border-color: lighten($primary, 20);
    }

    &.disabled {
      background-color: $grey-5;
      border-color: $grey-5;
      stroke: $grey-10;
      cursor: default;
    }
  }
}
