.checkbox {
  @extend .flex-row-center-center;
  border-radius: 8px;
  appearance: none;
  width: rem(22);
  height: rem(22);

  &__label__container {
    position: relative;
  }

  + .icon {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42.5%, -45%);
    pointer-events: none;
  }

  &[aria-checked="mixed"] + .icon {
    transform: translate(-45%, -50%);
  }
}
