.checkbox {
  width: 28px;
  height: 28px;
  background-color: $grey-1;
  border: 5px solid $grey-5;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // Hide the browser's default checkbox
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border: none;
  }
}
