.credit-card {
  @extend .flex-column-flex-start-flex-start;
  position: relative;
  width: em(240);
  height: em(140);
  transform-style: preserve-3d;
  perspective: 500px;
  border: 1px solid $grey-1;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background: linear-gradient(46.66deg, rgba(0, 0, 0, 0.3) 21.19%, rgba(0, 0, 0, 0) 150.55%);
  backdrop-filter: blur(10px);
  transform-style: preserve-3d;
  transition: 1s;
  padding: 0.75em 1em;

  &__icon {
    position: absolute;
    top: 1em;
    right: 1em;
    stroke: $grey-1;
  }

  &__brand {
    @extend .shadow-lg;
    width: 3em;
    max-width: 4em;
    height: 52px;
    max-height: 3em;
    object-fit: cover;
    border-radius: 8px;
    padding: 0;
    margin: 0;

    &.VISA {
      border: 1px solid $grey-9;
    }
  }

  &__num {
    @extend .body-12;
    font-style: normal;
    color: $grey-1;
    letter-spacing: 0.1em;
    justify-content: center;

    span {
      @extend .body-14;
      @extend .semibold;
      letter-spacing: 0.2em;
    }
  }

  &__owner {
    @extend .upper;
    color: $grey-1;
    margin: 0.25em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    max-height: 38px;

    &-container {
      @extend .flex-row-space-between-center;
      gap: 8px;
      width: 100%;
    }
  }

  &__expiration {
    @extend .body-14;
    color: $grey-1;
  }

  &__info-container {
    @extend .flex-column-flex-end-flex-start;
    height: 100%;
    width: 100%;
  }
}
