@mixin dropdown__item--hover {
  outline: none;
  background-color: $grey-4;
}

@mixin dropdown__item--state {
  @include hover-classNames() {
    @include dropdown__item--hover;
  }

  @include focus-classNames() {
    @include dropdown__item--hover;
  }
}

@mixin dropdown__group--state {
  background-color: unset !important;
}
