@import "./__helpers__/mixins";

.input {
  @include input-base;

  &__prefix {
    position: absolute;
    top: 18px;
    left: 14px;
  }

  &__wrapper {
    @extend .flex-row-flex-start-flex-start;
    gap: 4px;
    // width: auto;
    // max-width: em(280);

    &__base {
      @extend .flex-column-flex-start-flex-start;
      width: auto;
      position: relative;
      align-self: stretch;
    }
  }

  &__label-container {
    @extend .flex-row-flex-start-stretch;
    flex-wrap: nowrap;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: rem(14);
    line-height: 150%;
    width: 100%;
    color: $grey-9;
    margin-block: 0;
  }

  &__floating-label {
    position: absolute;
    top: 15px;
    left: 13.5px;
    width: auto;
    height: em(18);
    align-self: stretch;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    color: $grey-7;
    transform-origin: left top;
    user-select: none;
    outline: none;

    @include focus-classNames() {
      @extend .active;
      color: $primary;
    }

    @include focus-within-classNames() {
      @include input--focus-within;
    }

    &.active {
      @include input--focus-within;
    }
  }

  &__help-text {
    gap: 4px;
    align-self: flex-end;
    width: auto;
    height: rem(18);
    margin-block: 0;
    color: $grey-7;

    &.error {
      color: $red-6;
    }
  }

  &-password {
    letter-spacing: 0.05em;
  }

  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    top: calc(50% - 20px / 2);
  }

  @include input-placeholder-color;
}

.input,
.input-multiline {
  &.success {
    @include input-state-color($green-7);
  }

  &.error {
    @include input-state-color($red-6);
  }

  &.grey {
    @include focus-classNames() {
      border-color: $grey-5;

      + .input__floating-label.active {
        color: $grey-7;
      }
    }
  }

  @include disabled-classNames {
    @include disabled-state;
    @extend .input__disabled--bg;
    color: $grey-8;
  }
}

.floating.input {
  @include focus-within-classNames() {
    padding-top: em(20);
    padding-bottom: em(9);
  }
  &:not(:placeholder-shown) {
    padding-top: em(20);
    padding-bottom: em(9);
  }
}

.input-multiline {
  @extend .input__wrapper;
  // padding-top: set in the `element.style` attribute
  padding: 0px;
  width: auto;
  height: auto;
  gap: 0;

  .input {
    width: auto;
    height: auto;
    border: none;
    align-self: stretch;
    padding: 0 em(12) em(12) em(12) !important;
    resize: vertical;
  }

  + .input__floating-label {
    top: 12px;

    @include focus-within-classNames() {
      top: 8px;
    }

    &.active {
      top: 8px;
    }
  }

  @include focus-within-classNames() {
    @include input--focus;
  }
}

.input-digit {
  background-color: $grey-1;
  height: em(80);
  width: em(70);
  border-radius: 10px;
  border-color: $grey-1;
  font-size: rem(36);
  line-height: rem(42);
  text-align: center;
  justify-content: center;

  @include disabled-classNames {
    box-shadow: none;
  }

  &-sequence {
    @extend .flex-column-center-center;
    flex: none;
    width: auto;
    gap: 24px;

    &__wrapper {
      @extend .input-digit-sequence;
      @extend .input-digit-sequence__wrapper;
      flex-direction: row;
      gap: 20px;
    }

    .input__label-container {
      align-self: center;
    }
  }
}

.input-incr-dcr {
  @extend .flex-row-flex-start-center;
  text-align: center;
  width: em(120);
  gap: 8px;
  height: em(28);

  .input {
    // width: em;
    width: auto;
    height: em(28);
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: stretch;
    padding: 0 !important;
    background-color: $grey-2;
    border-color: $grey-2;

    @include focus-classNames() {
      background-color: $grey-3;
      border-color: $grey-3;
    }
  }

  &__icon {
    @extend .flex-column-center-center;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 !important;
    width: 28px;
    height: 28px;
    background-color: lighten($primary, 40);
    border-color: lighten($primary, 40);
    stroke: $primary;

    @include hover-classNames() {
      @include input-incr-dcr__icon--state();
    }

    @include focus-visible-classNames() {
      @include input-incr-dcr__icon--state();
      @include accessibility-3dp;
    }

    @include disabled-classNames() {
      @include disabled-state();
      background-color: $input-disabled-bg !important;
      border: none;
      stroke: $grey-7;
    }
  }

  &.active|decrease {
    .input-incr-dcr__icon .decrease {
      @extend .hover;
    }
  }

  @include disabled-classNames() {
    .input-incr-dcr__icon {
      @extend .disabled;
    }
  }
}

.input-number {
  width: em(120);

  &__btn {
    background-color: $grey-2;
    position: absolute;
    overflow: hidden;
    top: 2px;
    right: 2px;
    height: em(44);
    border-radius: 0px 2px 2px 0px;
    border-left: 2px solid $grey-5;

    .btn {
      @extend .flex-column-center-center;
      cursor: pointer;
      padding: 0 !important;
      width: em(22) !important;
      height: em(22);
      border: none;
      box-shadow: none;
      stroke: $grey-6;

      @include hover-classNames() {
        background-color: transparent;
        stroke: $primary;
      }

      &:nth-of-type(1) {
        border-radius: 0px 2px 0px 0px;
      }

      &:nth-of-type(2) {
        border-top: 2px solid $grey-5;
        border-radius: 0px 0px 2px 0px;
      }
    }
  }
}

.input-number,
.input-incr-dcr {
  .input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}
