// Primary button
.btn {
  @extend .flex-row-center-center;
  @include body;
  flex: none;
  align-self: flex-start;
  position: relative;
  white-space: nowrap;
  padding: em(10) em(16);
  width: auto;
  align-items: center;
  border-radius: rem(12);
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  appearance: none;
  gap: em(8);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  font-size: 1em;
  letter-spacing: 0.025em;

  @include focus-visible-classNames() {
    @include accessibility-5dp;
  }

  @include disabled-classNames() {
    opacity: 0.5;
  }

  // Pill button
  &.pill {
    border-radius: rem(24) !important;
  }

  &__loading-icon {
    position: relative;
    top: -3px;
    left: -76px;
    align-self: center;

    &__path {
      stroke: lighten($primary, 20);
    }
  }
}

.btn-primary {
  background-color: $primary;
  color: $grey-1;

  @include hover-classNames() {
    background-color: darken($primary, 10);
    border-color: darken($primary, 10);
    cursor: pointer;
  }

  @include disabled-classNames {
    @extend .state--disabled;
    background-color: $grey-7;
    border-color: $grey-7;
    color: $grey-10;
  }
}

// Secondary button
.btn-secondary {
  background-color: $grey-1;
  border: 2px solid $primary;
  box-sizing: border-box;

  @include hover-classNames() {
    background-color: $primary;
    cursor: pointer;
    color: $grey-1;
    border-color: $primary;
  }

  @include disabled-classNames {
    @extend .state--disabled;
    background-color: inherit;
    border-color: $grey-8;
    color: $grey-8;
    & > * {
      stroke: $grey-8 !important;
    }
  }
}

// Danger button
.btn-danger {
  color: $grey-1;
  background-color: $red-6;
  border-color: $red-6;

  @include hover-classNames() {
    background-color: $red-7;
    border-color: $red-7;
    cursor: pointer;
    color: $grey-1;
  }

  @include disabled-classNames {
    @extend .state--disabled;
    background-color: inherit;
    border-color: $red-6;
    color: $red-6;
    & > * {
      stroke: $red-6 !important;
    }
  }

  @include focus-visible-classNames() {
    background-color: $red-6;
    border-color: $red-6;
  }
}
