.slider {
  -webkit-appearance: none;
  z-index: 99;
  padding: 0;
  margin: 0;
  width: 100%;
  // min-width: em(222);
  height: em(8);
  align-self: center;
  border: none;
  outline: none;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: em(28);
    height: em(100);
    transform: translateX(-1%);
  }

  &__thumb {
    position: absolute;
    left: 0;
    width: em(12);
    height: em(12);
    border: 5px solid $primary;
    z-index: 98;
    background-color: $grey-1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    user-select: none;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out, left 0s, right 0s;

    &:focus-visible {
      @include accessibility-3dp;
    }

    &__value {
      visibility: hidden;
      display: inline-block;
      width: auto;
      height: auto;
      transform: rotate(45deg);
    }

    &[data-onhover="true"] {
      border-width: 2px;
      border-bottom-left-radius: 0%;
      padding: 4px;
      transform: rotate(-45deg) translate(57.5%, -130%);

      .slider__thumb__value {
        visibility: visible;
        transition-delay: 0.1s;
      }
    }
  }

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__marks {
    margin-top: em(16);
    width: 100%;
    height: 100%;
    padding: 0 em(2);
    display: inline-block;
    position: relative;
    align-self: center;

    &__span {
      display: inline-block;
      user-select: none;
      position: absolute;

      // &::after {
      //   content: "";
      //   width: 50px;
      //   height: em(8);
      //   position: absolute;
      //   background-color: black;
      // }
    }
  }

  &__field {
    width: 100%;
    margin: 0;
    height: 100%;

    &:hover {
      .slider__thumb {
        border-width: 2px;
        border-bottom-left-radius: 0%;
        padding: 4px;
        transform: rotate(-45deg) translate(57.5%, -130%);

        &__value {
          visibility: visible;
          transition-delay: 0.1s;
        }
      }
    }
  }

  &__bar {
    z-index: 97;
    background-color: darken($input-bg, 2) !important;
    height: em(8);
    border-radius: 6px;
    overflow: hidden;

    &__progress {
      display: block;
      width: 50%;
      border-radius: inherit;
      height: 100%;
      background-color: $primary;
    }
  }

  &__chart {
    position: relative;
    display: block;
    margin-bottom: -8px;
    width: 99.5%;
    height: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__frame {
      @extend .flex-row-center-flex-end;
      position: relative;
      width: 100%;
      height: 100%;
      flex: 1;
      gap: 1%;
      @include animation-3s("ease-in", "opacity");

      &__overlay {
        position: absolute;
        width: 583.64px;
        height: 100%;

        .slider__chart__bar {
          background: lighten($primary, 20);
        }
      }
    }

    &__overlay {
      align-self: flex-start;
      position: absolute;
      z-index: 1;
      width: 75%;
      height: 100%;
      overflow: hidden;
    }

    &__bar {
      width: 100%;
      height: 100%;
      background-color: $grey-5;
      border-radius: 4px 4px 0 0;
    }

    &[data-onhover="true"] > *,
    &:hover > * {
      opacity: 0.75;
    }
  }
}

@include breakpoint("xs") {
  .slider__chart {
    height: em(72);
  }
}
