.slider {
  -webkit-appearance: none;
  position: absolute;
  z-index: 5;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  min-width: em(222);
  height: em(12);
  align-self: center;
  border: none;
  outline: none;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: em(28);
    height: em(100);
    transform: translateX(-1%);
  }

  &__value {
    position: absolute;
    left: 0;
    top: em(-4);
    width: em(14);
    height: em(14);
    border: 4px solid $primary;
    z-index: 4;
    background-color: $grey-1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    user-select: none;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out, left 0s, right 0s;
    justify-content: center;
    align-items: center;

    &:focus-visible {
      @include accessibility-3dp;
    }

    &__span {
      visibility: hidden;
      display: inline-block;
      width: auto;
      height: auto;
      transform: rotate(45deg);
    }
  }

  &__wrapper {
    position: relative;
    height: auto;
    gap: 20px;
    width: 100%;

    &:hover {
      .slider__value {
        border-width: 2px;
        border-bottom-left-radius: 0%;
        padding: 4px;
        transform: rotate(-45deg) translate(57.5%, -130%);

        &__span {
          visibility: visible;
          transition-delay: 0.1s;
        }
      }
    }
  }

  &__marks {
    width: 100%;
    height: 100%;
    padding: 0 em(2);
    position: relative;
    align-self: center;

    span {
      user-select: none;
      position: absolute;
    }
  }

  &__field {
    width: 100%;
  }

  &__bar {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: $input-bg !important;
    top: 0;
    height: em(12);
    border-radius: 6px;
    overflow: hidden;

    &__progress {
      display: block;
      width: 50%;
      border-radius: inherit;
      height: 100%;
      background-color: $primary;
    }
  }
}
